<div class = "row">
	<div class = "col-md-6">
		<div class = "page-header" >
			<h1><%= @listing.fullname() %> </h1>
		</div>
		<%= @listing.full_address() %> <br>
		<%= @listing.phone %> <br>
		<% if !@listing.email.nil? %>
		<%= link_to @listing.email , "mailto:"+@listing.email %> <br>
		<% end %>
		<% if !@listing.description.nil? %>
		<%= @listing.description %> <br>
		<% end %>
	</div>
	<div class = "col-md-6">
		<% if !@listing.logo_url.nil? && !@listing.website.nil? %>
		<%= link_to image_tag(@listing.logo_url, :class=>"img-thumbnail logo_image") , @listing.website , :target=>"_blank" %> <br>
		<% elsif !@listing.logo_url.nil? %>
		<%= image_tag(@listing.logo_url, :class=>"img-thumbnail") %> <br>
		<% end %>
	</div>
</div>